results > div, .editor-element {
  text-shadow: -1px -1px 0 #000,
 1px -1px 0 #000,
 -1px 1px 0 #000,
 1px 1px 0 #000; }

results > div, .editor-element {
  border: 2px solid rgba(0, 0, 0, 0.55);
  box-shadow: 5px 1px 12px 2px black; }

body {
  display: flex;
  flex-direction: column; }

results > div {
  width: 330px;
  letter-spacing: 3px;
  font-size: calc(14pt + 2pt);
  background-color: rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding-left: 5px;
  color: white; }

.editor-success {
  color: #08db21; }

.editor-sending {
  color: #08dbd7; }

.editor-error {
  color: #f71c11; }

.editor-element {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: 10px;
  letter-spacing: 3px;
  font-size: 14pt;
  color: white; }
  .editor-element label {
    margin: 3px; }
  .editor-element input {
    margin: 2px; }
  .editor-element input[type=submit] {
    letter-spacing: 3px;
    font-size: 14pt;
    border: 1px solid black;
    border-radius: 2px;
    margin: 2px; }
