#stream-header, div {
  text-shadow: 3px 3px 0 #000,
 -1px -1px 0 #000,
 1px -1px 0 #000,
 -1px 1px 0 #000,
 1px 1px 0 #000; }

#stream-header {
  font-variant: small-caps; }

#stream-header {
  font-size: 40pt;
  color: #bf6816; }

div {
  font-size: 14pt;
  letter-spacing: 3px; }

#side-panel {
  border: 2px solid rgba(0, 0, 0, 0.55);
  box-shadow: 5px 1px 12px 2px black; }

div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: white; }

#stream-header {
  justify-content: flex-end;
  align-items: center;
  overflow: visible; }

#side-panel {
  background-color: gray;
  display: hidden;
  z-index: -2; }

#panel-header {
  align-items: center; }
