@import "vars";

//
// fonts
@import url('https://fonts.googleapis.com/css?family=Milonga|Oswald');

@mixin font-style($family, $size) {
  font-family: $family;
  font-size: $size;
}

$oswald: 'Oswald', 'Arial', 'sans-serif';
$milonga: 'Milonga', 'Times New Roman', 'serif';

@mixin regular-font($size) {
  @include font-style($oswald, $size);
}

@mixin fancy-font($size) {
  @include font-style($milonga, $size);
}

//
// text styles
%shadow-normal {
  text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

%shadow-light {
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

%title-shadow {
  @extend %shadow-normal;
  font-variant: small-caps;
}

%header-text {
  @include fancy-font($header-size);
  @extend %title-shadow;
  color: $orange;
}

%normal-text {
  @include regular-font($normal-size);
  @extend %shadow-normal;
  letter-spacing: 3px;
}

//
// panels
%panel-shadow {
  border: 2px solid rgba(0, 0, 0, .55);
  box-shadow: 5px 1px 12px 2px black;
}
