@import 'vars';
@import 'mixins';

@import 'speedrun';
@import 'brb';

div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;

  color: white;
  @extend %normal-text;
}

// stream-header

#stream-header {

  @extend %header-text;

  justify-content: flex-end;
  align-items: center;
  overflow: visible;
}

// side-panel

#side-panel {
  @extend %panel-shadow;
  background-color: $panel-color;
  display: hidden;
  z-index: -2;
}

// panel-header

#panel-header {
  align-items: center;
}
