$dark-purple: desaturate(#5a2db7, 10%);
$orange: #bf6816;
$hl-green: #08db21;
$hl-blue: #08dbd7;
$hl-red: #f71c11;

$panel-color: $dark-purple;
$header-color: lighten($dark-purple, 10%);

$header-size: 40pt;
$normal-size: 14pt;
